body
{
    background-color: rgb(232, 233, 221);
}
input[type=text],input[type=number]
{
    width: 100%;
    border-style: hidden; 
    background-color: rgb(250, 250, 250);
}
.navbar-color
{
    background-color: rgb(32, 32, 32);
}
.bg-header
{   
    background-image:url(img/head.png);
    height: 15vh;
    background-size: cover;
    background-position : center ;   
}
.font-Righte
{
    font-family: 'Righteous', cursive;
}
.font-dohyeon
{   
    font-family: 'Do Hyeon', sans-serif;
}
.font-promt
{
    font-family: 'Prompt', sans-serif;
}
.overlay 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target 
{
    visibility: visible;
    opacity: 1;
}
  
.popup 
{
    margin: 250px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 30%;
    position: relative;
}
  
.popup h2 
{
    margin-top: 0;
    color: #333;
    font-family: 'Do Hyeon', sans-serif;
}
.popup .close
{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover 
{
    color: #06D85F;
}
.popup .content 
{
    max-height: 30%;
    overflow: hidden;
    text-align: center;
    margin-top: 35px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;

}
.showGrade
{
    border-radius: 15px;
}
  